/* Main Screen */
#main-screen {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url('../Images/Background_Wide.png');
	background-size: cover;
	background-position: center;
	text-align: center;
	padding: 40px 20px;
	gap: 5vh;
	position: absolute;
	inset: 0;
	z-index: 10;
}

/* Objective */

/* Subjective */


/* Playoffs */
#play {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 60px 20px;
	gap: 40px;
	height: 50%;
	background-size: cover;
	background-position: center;
	background-color: rgba(205 , 127 , 50 , 1);
}

/* Robot Data */
#qrscreen {
	background-color: black;
	width: 200px;
	height: 200px;
}
#dataScreen {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
	color: #5C4033;
	font-family: "Poppins", sans-serif;
	text-align: center;
	overflow-y: auto;
	padding: 10px;
}

#outputData {
	width: 85%;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	padding: 10px;
	display: grid;
	justify-items: center;
	border-radius: 16px;
	align-self: center;
}

#redAlliance, #blueAlliance {
	display: inline-block;
	width: 100px;
	height: 100px;
	border: none;
	font-size: 16px;
	border-radius: 5px;
	cursor: pointer;
	color: white;
	margin-right: 10px;
	/* Small gap between buttons */
	vertical-align: middle;
}

#redAlliance, #ObjectiveRedAllience {
	background-color: red;
	background-image: url("../Images/Red_Alliance_Button.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#blueAlliance, #ObjectiveBlueAllience {
	background-color: blue;
	background-image: url("../Images/Blue_Alliance_Button.png");
	background-repeat: no-repeat;
	background-size: cover;
}

#redAlliance:focus, #blueAlliance:focus {
	border: 7px solid white;
	outline: none;
}